{% extends 'base.html' %}


{% block content %}

<style>
    .stats-container {
        display: flex;

    }

    .label {
        font-weight: bold;
        font-size: 1rem;
        margin-left: 25px;
        transform: translateX(10px);
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-4">
            <div class="stats-container">
                <div class="content">
                    <div>
                        <img src="{{ primary_fur_color }}">
                        <sapn class="label">primary_fur_color</sapn>
                    </div>

                </div>
                <div class="content">
                    <div>
                        <img src="{{ location }}">
                        <sapn class="label">location</sapn>
                    </div>

                </div>
                <div class="content">
                    <div>
                        <img src="{{ shift }}">
                        <sapn class="label">shift</sapn>
                    </div>

                </div>
                <div class="content">
                    <div>
                        <img src="{{ running }}">
                    <sapn class="label">running</sapn>
                    </div>

                </div>
            </div>


        </div>

    </div>
    <div class="col-1">

    </div>
</div>

{% endblock %}
