{% extends 'base.html' %}
{% block content %}
    <main>
        <style>
            .mission{
                width: 70%;
                height: 80%;
                margin: auto auto;
            }
            th{
                color: red;
            }
        </style>
        <div class="container-fluid">
            <div class="mission">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Unique Squirrel ID</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Date</th>
                        <th scope="col">Age</th>
                        <th scope="col">update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in all_pages.object_list %}
                        <tr>
                            <td>{{ i.x }}</td>
                            <td>{{ i.y }}</td>
                            <td>{{ i.uniquesquirrelid }}</td>
                            <td>{{ i.shift }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.age }}</td>
                            <td><a class="btn btn-default" href="{% url 'tracker:squirrels' i.uniquesquirrelid %}"> edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pagination" style="display: flex;justify-content: center">
    <span class="step-links">
        {% if all_pages.has_previous %}
            <a href="?page=1">fisrt page</a>
            <a href="?page={{ all_pages.previous_page_number }}">pre</a>
        {% endif %}
        <span class="current">
            <span> totol :{{ all_pages.number }} </span>
            <span>current :{{ all_pages.paginator.num_pages }}</span>

        </span>

        {% if all_pages.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">finally</a>
        {% endif %}
    </span>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
