<!DOCTYPE html>
<html lang="en">

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
<script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg justify-content-between navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="{% url 'app:index' %}"><i>
        Home
    </i> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item  ">
                <a class="nav-link" href="{% url 'app:squirrels_position' %}"><i>

                </i> squirrels </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'app:add' %}"><i>
                </i>add squirrels<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'app:stats' %}"><i>

                </i>stats of squirrels<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<ul>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" id='alert'>
			<span class="alert-icon">
					<span class="{% if message.tags == success %} circle {% else %}tangle{% endif %}">

				</span>
			</span>
        <span><strong>{{ message.tags }}!</strong>{{ message }}</span>
        <span class="alert-close">x</span>
    </div>

    {% endfor %}
</ul>
<script>
    $('.alert-close').on('click', function () {
        $(this).parent().parent().fadeOut()
    })

</script>
<style>
    #map {
        height: 1080px !important;
        width: 920px !important;
    }
</style>

{% endblock %}

{% block content %}
<div id="map" class="container-fluid h-100"></div>

{% endblock %}

{% block scirpts %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" }
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"}
         crossorigin="anonymous"></script>

<script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% endblock %}


</html>
